@keyframes typing {
  from {
    width: 0
  }to { width: 100% }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
  100%{
    box-sizing: border-box;
  }
}

@keyframes delay{
  50%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}

html, body {
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #010102;
 border: none;
 display: flex;
 cursor: url("../assets/cursor18.png"), pointer;
}

canvas {
 display: block;
}

#banner {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(3,137,222);
  background: radial-gradient(circle, rgba(3,137,222,1) 0%, rgba(1,112,177,1) 13%, rgba(0,92,143,1) 23%, rgba(0,62,97,1) 42%, rgba(0,13,24,1) 84%, rgba(0,0,5,1) 93%);
}

#breathing{
  display: none;
  text-align: left;
  color: #87d6ff;
  font-size: 1.2vw;
  font-family: 'Crete Round', serif;
  font-style: italic;
  line-height: 3ch;
  word-spacing: .25vw;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: 3.3vw;
  font-weight: 700;
	color: #00427f;
	background: none;
	cursor: url("../assets/cursor30.png"), pointer;
	padding: 0.7vw 1.5vw;
	display: inline-block;
  margin-top: 8px;
	margin-bottom: 1.7vw;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	position: relative;
  border-radius: 50px;
  text-shadow: 3px 4px 9px cyan;
  visibility: hidden;
  animation: delay 8s;
  -webkit-animation-fill-mode: forwards;
}

.link{
  font-size: 1.9vw;
  font-weight: bold;
  font-style: italic;
  visibility: hidden;
  animation: delay 4s;
  -webkit-animation-fill-mode: forwards;
}

a:link {
  color: #70ffff;
}

/* visited link */
a:visited {
  color: #70ffff;
}

a:hover {
  color: #E0FFFF);
  text-shadow: 10px 7px 21px black;
  cursor: url("../assets/cursor25.png"), pointer;
}

a:active {
  color: #E0FFFF;
  cursor: url("../assets/cursor25.png"), pointer;
}

.opening{
  display: grid;
  place-items: center;
  margin-bottom: 40px;
}

p{
  margin: 10px;
  padding: 0;
  color: #a1f6ff;
  width：38ch;
  animation: typing 2s steps(39), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-weight: 100;
  font-style:italic;
  word-spacing: .25rem;
  font-family: 'Crete Round', serif;
  font-size: 2.3vw;
  line-height: 1.8em;
  letter-spacing: 0.4px;
}

span{
  color: #00cbeb;
  text-shadow: 10px 7px 21px black;
}

.b{
  color: #00b7eb;
  padding-bottom: 0px;
}

.subtitle{
  display: block;
  text-align: left;
  color: #00b7eb;
  text-shadow: 6px 3px 10px #141414;
  font-size: 1.6vw;
  font-family: 'Crete Round', serif;
  font-style: normal;
  line-height: 3ch;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 5vw;
}
