@keyframes typing {
  from {
    width: 0
  }to { width: 100% }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

{
 box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
 background-color: #000000;
 border: none;
 display: flex;
}

canvas {
 display: block;
}

#banner {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  text-align:center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner button {
  display: block;
  margin-top: 50px;
}

.opening{
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}

p{
  margin: 0;
  padding: 0;
  color:white;
  width：38ch;
  animation: typing 2s steps(39), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.7em;
  line-height: 1.7em;
}

@keyframes typing {
  from {
    width: 0
  }to { width: 100% }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
